.box {
  margin: auto;
  text-align: center;
  margin-top: 150px;
  width: 25vw;
  height: 70vh;
  width: 450px;
  padding: 20px;
  box-shadow: 10px black;
  background-image: linear-gradient(
    to right,
    rgba(154, 182, 214, 0.473),
    #84afd6
  );
  position: relative;
}
